<div class="main">
      <div class="navbar">
            <div class="navbar-icon"> <img src="../assets/outlet_white_36dp.svg" alt=""></div>
            <div class="navbar-title">  HOLLY </div>
      </div>

      <div class="posts">
            <app-post [title]="'Wild Secret'" [image]="'https://source.unsplash.com/random/?sig=1'" >Yamuna Joandra</app-post>
            <app-post [title]="'Lights of Eye'" [image]="'https://source.unsplash.com/random/?sig=2'">Ligeia Esi</app-post>
            <app-post [title]="'The Rising Snake'" [image]="'https://source.unsplash.com/random/?sig=3'">Bettina Aca</app-post>
            <app-post [title]="'The Willows Tears'" [image]="'https://source.unsplash.com/random/?sig=4'">Vera Spartak</app-post>
            <app-post [title]="'The Door of the Angel'" [image]="'https://source.unsplash.com/random/?sig=5'">Ulrikke Nikita</app-post>
            <app-post [title]="'Ship in the Roses'" [image]="'https://source.unsplash.com/random/?sig=6'">Walt Love</app-post>
      </div>
      

</div>


